

body {
  margin: 0;
  background-color: #97E7E7;
  /* background-image: url('D:\track\src\Images\Login.png');
  background-repeat: no-repeat;
  background-size: 1280px 610px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
